@use '../../index.scss' as *;

.header-wrapper {
  background-color: $primary;
  padding: 10px 20px;
  /* border-bottom: 5px solid $secondary; */

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
      font-size: 2.5rem;
      font-family: 'CherryBombOne';
      text-decoration: none;
      color: $white;
    }

    nav {
      a {
        color: $dark;
        text-decoration: none;
        font-size: 1.2rem;
        margin-left: 2.5rem;
        font-weight: bold;

        &.active {
          color: $white;
        }
      }
    }
  }
}