$primary: #FF7D00 !default;
$secondary: #15616D !default;

@font-face {
  font-family: 'CherryBombOne';
  src: url('assets/fonts/CherryBombOne-Regular.ttf') format('truetype');
}

@import "~bootstrap/scss/bootstrap";